/* font-family: "Chivo Mono", monospace; */

/* NORMALIZACION reset de algunas caracteristicas predeterminadas */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*Esto mantiene el ancho y el alto a pesar del padding y border */
    font-family: "Chivo Mono", monospace;
    list-style: none; /*Quitar los puntos de decoracion de las listas*/
    text-decoration: none; /* Esto quita el subrayado de los enlaces */
}
body {
    background-color: white;
}

header{
    position: fixed; /* Esto hace que el header se quede fijo en la parte superior*/
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 3%;
    background:linear-gradient(245.59deg, #000000 0%, #0d2054 33% , #ffff 70%);
    border-bottom: whitesmoke solid 1px;
 }
 .logo {
    border: #0d2054 solid 1.5px;
    border-radius: 5px;
    background-color:#05194e transparent;
    padding: 10px;
    
    font-size: 25px;
    font-weight: 600; /* grosor de letra*/
    color: #0d2054;
 }

 .navlist {
    display: flex;
 }
 .navlist a {
    color: white;
    margin-left: 50px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .5s ease;
    
 }
  .navlist a:hover {
    border-bottom: 2px solid white;
  }

 #menu-icon {
    display: none;
 }
 #menu-icon { 
    color: white;
    font-size: 35px;
    z-index: 101;
    cursor: pointer;
 }

 #menu-toggle {
    display: none;
 }
 .menu-icon-action {
    display: none;
 }

.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #000000 0%, #0d2054 25% ,white 25.03%,white 25.08%, #c86f21 25.13%, #ffff 85%); /*fonde de color gradiente */
    position: relative; /* Para que sea relativo al contenedor (no permite usar top, b, l y r )*/
    display: grid; /* Para que el hero se dividir en dos colunas*/
    grid-template-columns: 1fr 1fr; /* las 2 columnas */
    align-items: center; /* para alinear verticalmente el hero*/
    gap: 2rem; /* haya espacio de 2rem entre las dos columnas*/
}
section {
    padding: 0 8%;
}

.hero-text h1 {
    font-size: 50px;
    line-height: 1;
    margin: 0 0 30px;

}

.hero-text h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;

}
.hero-text h5 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;

}

.hero-text p {
    font-size: 80%;
    margin-bottom: 40px;
    line-height: 1.9;
}

#gabi-foto {
    border-radius: 300px;
}
.hero-img img {
    width: 400px;
    margin: 10% 0 0 10%;
    height: auto;
    transition: all 2s linear;
}

.hero-img img:hover {
   
    width: 420px;
    opacity: 0.9;
    box-shadow: 1px 3px 2px white;
    transition: all .5s linear;

}

.hero-text a {
    color: white;
    display: inline-block;
    background-color:#c86f21 ;
    border: 1px solid white;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .8s ease;
}

.hero-text a:hover {
    opacity: 75%;
    border: 1px solid white;
    transform: translateX(8px);
}

.hero-text a.porfolio {
    background-color: #0d2054;
    border: 1px solid white;
    margin-left: 17px;
}

.icons {
    position: absolute;
    top: 50vh;
    padding: 0 3%;
    transform: translateY(-50%);
}

.icons i {
    color: #0d2054;
    display: block;
    margin: 26px 0;
    font-size: 24px;
    transition: all .5s ease;
} 

.icons i:hover {
    color:#000000;
    transform: translateY(-4px);
}

.scroll-down {
    background-color: transparent;
    position: absolute;
    bottom: 6%;
    right: 3%;
}

.scroll-down i {
    color: #0d2054;
    display: block;
    padding: 12px;
    font-size: 25px;
    background-color: white;
    border-radius: 30px;
    transition: all .5s ease;
}

.scroll-down i:hover {
    transform: translateY(5px);
}

@media (max-width:992px) {
    section {
        padding: 0 3%;
        transition:.2s;
    }
    .icons {
        display: none;
    }

    .hero-text {
        padding-top: 0;
    }
    .hero-img {
        text-align: center;
    }

    .hero-img img {
        width: 80%;
        margin: 10% 0 0 10%;
    }
    .hero-text p {
        font-size: 70%;
    }
    .scroll-down {
        display: none;
    }
}

@media (max-width: 768px) {
    header{
        background:linear-gradient(250deg, #000000 1%, #0d2054 15% ,#ffff 15.03%,#ffff 15.08%, #ffff 15.15%);
    }
    #menu-icon {
        color: white;
        display: block;
    }
    .hero {
        background: linear-gradient(-250.39deg,#ffff,#c86f21 75%,#ffff 75.03%,#ffff 75.08%, #0d2054 75.15%, black);
    }
    
    .menu-icon-action {
        display: block;
    }
    #menu-icon {
        display: block;
    }
    .hero-text {
        text-align: center;
        padding-top: 100px;
    }
    .hero-img img {
        margin: 0;
    }

    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 180px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 30px 30px;
        transition: all .5s ease-out;

    }
    .navlist a {
        color: #0d2054;
        display: block;
        margin: 7px 0;
    }

    .navlist.open{
        right: 0;
    }

}


